name: Update Manifest on Develop Change

on:
  push:

jobs:
  detect-and-deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Get current version
        id: frontend-version
        run: |
          CURRENT_VERSION=$(grep -oP 'honeykwak/grayhound:\K[0-9]+\.[0-9]+' grayround.yaml || true)
          if [ -z "$CURRENT_VERSION" ]; then
            CURRENT_VERSION=1.0
          fi
          NEW_VERSION=$(echo "$CURRENT_VERSION + 1.0" | bc)
          echo "NEW_VERSION=$NEW_VERSION"
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Build and Push Image
        run: |
          docker build -t honeykwak/grayhound:${{ env.NEW_VERSION }} websource
          docker push honeykwak/grayhound:${{ env.NEW_VERSION }}

      - name: Update deploy.yaml
        run: |
          sed -i 's|image: honeykwak/grayhound:.*|image: honeykwak/grayhound:${{ env.NEW_VERSION }}|' websource/deploy.yaml

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add grayround.yaml
          git commit -m "Update Docker images and change image to version ${{ env.NEW_VERSION }}"
          git push origin main

