name: Build and Push Docker Image

on:
  push:
    branches:
      - 'main'
      - 'master'
    tags:
      - '**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Get the latest tag
        id: latest_tag
        run: echo ::set-output name=tag::$(git describe --tags `git rev-list --tags --max-count=1`)

      - name: Calculate new tag
        id: new_tag
        run: |
          LATEST_TAG=${{ steps.latest_tag.outputs.tag }}
          # 'v' 접두사를 제거하고 버전 번호 분리
          VERSION_NUMBER=${LATEST_TAG#v}
          IFS='.' read -ra ADDR <<< "$VERSION_NUMBER"
          # 부버전 번호를 1 증가시키고, 'v' 접두사를 다시 추가
          NEW_VERSION="v$(echo "${ADDR[0]}.$((${ADDR[1]} + 1))")"
          echo ::set-output name=version::$NEW_VERSION
        shell: bash

      - name: Build and push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # 태그에 v 접두사를 포함하여 새 버전을 적용합니다.
          tags: honeykwak/grayround:${{ steps.new_tag.outputs.version }}

      - name: Update grayround.yaml
        run: |
          NEW_TAG="${{ steps.new_tag.outputs.version }}"
          sed -i "s|image: honeykwak/grayround:.*|image: honeykwak/grayround:$NEW_TAG|g" grayround.yaml

      - name: Check if grayround.yaml was changed
        id: check_file
        run: |
          if git diff --exit-code; then
            echo "No changes in grayround.yaml"
            echo ::set-output name=changed::false
          else
            echo "grayround.yaml was changed"
            echo ::set-output name=changed::true
          fi

      - name: Commit and push changes
        if: steps.check_file.outputs.changed == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name 'Your Name'
          git config --global user.email 'your.email@example.com'
          git add grayround.yaml
          git commit -m "Update grayround.yaml with new image tag ${{ steps.new_tag.outputs.version }}"
          git push origin master

